
/* 0082c8 */
/* 0c3371 */

/* -----------------------------------------------
  Global
----------------------------------------------- */
.container {
  max-width: 800px;
}

body {
  background: white;
  font-size: 0.9rem;
  color: #666;
}


/* -----------------------------------------------
  Title
----------------------------------------------- */
.font-serif {
  font-family: 'Noticia Text', serif;
}



/* -----------------------------------------------
  Header
----------------------------------------------- */
.header {
  background: #0082c8;
}

.logo-top {
  width: 6rem;
  margin: 0.7rem 0;
  display: inline-block;
}


/* -----------------------------------------------
  Main
----------------------------------------------- */
.main {
  padding: 3rem 0;
  min-height: calc(100vh - 13rem);
}

.main-title {
  font-family: 'Noticia Text', serif;   
  color: #0082c8;
  font-size: 1.2rem;
  font-weight: bold;
}


/* -----------------------------------------------
  Carousel
----------------------------------------------- */
.carousel-indicators {
  position: relative;
}

.carousel-indicators li {
  background-color: transparent;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  margin-left: 6px;
  border-radius: 7px;
  border: 2px solid #0082c8;
  box-sizing: border-box;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #0082c8;
}



/* -----------------------------------------------
  Footer
----------------------------------------------- */
.footer {
  background: #0082c8;
  padding: 2rem 0;
  height: 10rem;
  color: white;
  font-size: .6rem;
}

.logo-bottom {
  width: 4rem;
  opacity: .8;
}

.credits {
  text-align: right;
  opacity: .8;
  max-width: 26rem;
}