.main-menu__main-title,
.question__text,
.prod-tile__name {
  font-weight: 100;
}
.breadcrumb,
.stage__abstract,
.choice__help-text {
  font-weight: 300;
}
strong,
.breadcrumb-item:last-child,
.stage__title {
  font-weight: 900;
}
.copy-max-width {
  max-width: 800px;
}
.main-menu__item,
.choice,
.prods-slider .slick-slide {
  -webkit-box-shadow: 0 40px 50px -40px rgba(0,0,0,0.867);
          box-shadow: 0 40px 50px -40px rgba(0,0,0,0.867);
}
.choice {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.choice:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.btn-group__btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}
.btn {
  border: 2px solid #009143;
  background: transparent;
  padding: 10px 15px;
  color: #009143;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 0;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}
.btn:hover {
  background: #009143;
  color: #fff;
  border-color: #009143;
}
.btn-group,
.btn-group__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn-group__btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 200px;
  background: #fff;
  border-radius: 0;
  border-right: 1px solid rgba(0,0,0,0.267);
}
.btn-group__btn:last-child {
  border: 0;
}
body {
  color: #212529;
  font-family: 'Roboto';
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff;
}
.container-fluid {
  max-width: 1440px;
}
.app {
  position: relative;
  min-height: 100vh;
}
.breadcrumb {
  border-radius: 0;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  z-index: 10;
  font-size: 18px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
}
.breadcrumb__wrap {
  position: relative;
  height: 60px;
}
.breadcrumb__home {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb__home:after {
  content: '';
  width: 10px;
  height: 60px;
  background: url("../img/ui/breadcrumb/arrow-green.svg");
}
.breadcrumb__home-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #009143;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb__home-icon img {
  width: 24px;
}
.breadcrumb__home-text {
  color: #212529;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #cfe4d8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
.breadcrumb-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background: url("../img/ui/breadcrumb/arrow-grey.svg") no-repeat right center;
  line-height: 60px;
  padding-right: 30px;
  padding-left: 15px;
}
.breadcrumb-item:before {
  content: none !important;
}
.breadcrumb-item:first-child,
.breadcrumb-item:last-child {
  background-image: none;
  padding-right: 0;
}
.breadcrumb-item:first-child {
  padding-left: 0;
}
.breadcrumb-item a {
  color: #212529;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
}
.stage__header {
  padding-bottom: 60px;
}
.stage__title {
  font-size: 50px;
}
.stage__abstract {
  font-size: 16px;
}
.main-bg {
  background-clip: content-box;
  color: #fff;
  background-attachment: fixed;
}
.main-bg__overlay {
  background: rgba(51,51,51,0.8);
  min-height: 75vh;
}
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.menu-item-active,
.menu-item-leave-active {
  -webkit-transition: all 1s;
  transition: all 1s;
}
.menu-item-enter,
.menu-item-leave-to {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}
.main-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-menu__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 600px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  padding: 40px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-size: cover;
  overflow: hidden;
  color: #212529;
}
.main-menu__item:before {
  content: '';
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(255,255,255,0.067)), to(rgba(255,255,255,0.933)));
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.067) 10%, rgba(255,255,255,0.933));
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-menu__item:hover {
  -webkit-transform: scale(1.02) translateZ(1px);
          transform: scale(1.02) translateZ(1px);
  z-index: 1;
}
.main-menu__content {
  position: relative;
  z-index: 1;
  color: #212529;
  overflow: hidden;
}
.main-menu__title {
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #009143;
}
.main-menu__abstract {
  font-size: 16px;
}
.card {
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  border-radius: 0;
}
.card-header {
  background: none;
  border: 0;
  border-radius: 0;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}
.card-header,
.card-header:first-child {
  border-radius: 0;
}
.card-header:hover {
  background: rgba(255,255,255,0.067);
}
.card-header--active,
.card-header--active:hover {
  background: #009143;
}
.card-header button {
  background: none;
  border: 0;
  cursor: pointer;
  color: #fff;
  width: 100%;
  display: block;
  text-align: left;
  outline: none;
  padding: 0;
}
.accordion__content {
  color: #fff;
  padding: 30px;
  background: rgba(0,0,0,0.133);
  overflow: hidden;
}
.accordion__table td {
  vertical-align: top;
}
.question__text {
  font-size: 50px;
}
.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #009143;
  background: #fff;
  padding: 30px 45px;
  width: 100%;
  height: 280px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 30px;
}
.choice__icon {
  width: 90px;
  height: 90px;
  opacity: 0.9;
  margin-bottom: 10px;
}
.choice__title {
  font-size: 26px;
  color: #009143;
  line-height: 1;
}
.choice__help-text {
  font-size: 16px;
  color: #212529;
}
.prod-tile {
  width: 270px;
  height: 270px;
  display: block;
  background-size: cover;
  padding: 15px;
}
.prod-tile:hover {
  text-decoration: none;
}
.prod-tile__name {
  font-size: 26px;
  color: #212529;
  line-height: 1;
}
.prods-slider .slick-track {
  padding-bottom: 40px;
}
.prods-slider .slick-slide {
  margin-right: 30px;
}
.prods-slider .slick-dots li button:before {
  color: #fff;
}
.prods-slider .slick-dots li.slick-active button:before {
  color: #009143;
}

/*# sourceMappingURL=css/main.1.css.map */
