@font-face {
    font-family: "GFLFontIcon";
    src: url("./GFLFontIcon.ttf?20caf3c3304b5eb085c0908b14ad9280") format("truetype"),
url("./GFLFontIcon.woff?20caf3c3304b5eb085c0908b14ad9280") format("woff"),
url("./GFLFontIcon.woff2?20caf3c3304b5eb085c0908b14ad9280") format("woff2"),
url("./GFLFontIcon.svg?20caf3c3304b5eb085c0908b14ad9280#GFLFontIcon") format("svg");
}

i[class^="gfl-"]:before, i[class*=" gfl-"]:before {
    font-family: GFLFontIcon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gfl-agenda:before {
    content: "\f101";
}
.gfl-alarm:before {
    content: "\f102";
}
.gfl-apps:before {
    content: "\f103";
}
.gfl-bank:before {
    content: "\f104";
}
.gfl-bell:before {
    content: "\f105";
}
.gfl-biblio:before {
    content: "\f106";
}
.gfl-board:before {
    content: "\f107";
}
.gfl-bubble:before {
    content: "\f108";
}
.gfl-caret:before {
    content: "\f109";
}
.gfl-chat:before {
    content: "\f10a";
}
.gfl-check:before {
    content: "\f10b";
}
.gfl-circle:before {
    content: "\f10c";
}
.gfl-circlequestion:before {
    content: "\f10d";
}
.gfl-clock:before {
    content: "\f10e";
}
.gfl-coge:before {
    content: "\f10f";
}
.gfl-contacs:before {
    content: "\f110";
}
.gfl-dashboard:before {
    content: "\f111";
}
.gfl-document:before {
    content: "\f112";
}
.gfl-dossier:before {
    content: "\f113";
}
.gfl-dotcircle:before {
    content: "\f114";
}
.gfl-edit:before {
    content: "\f115";
}
.gfl-error:before {
    content: "\f116";
}
.gfl-euro:before {
    content: "\f117";
}
.gfl-extlink:before {
    content: "\f118";
}
.gfl-fth_alarm:before {
    content: "\f119";
}
.gfl-fth_alert_triangle:before {
    content: "\f11a";
}
.gfl-fth_arrow_down_circle:before {
    content: "\f11b";
}
.gfl-fth_arrow_left:before {
    content: "\f11c";
}
.gfl-fth_arrow_right:before {
    content: "\f11d";
}
.gfl-fth_auto_alarm:before {
    content: "\f11e";
}
.gfl-fth_bell:before {
    content: "\f11f";
}
.gfl-fth_calendar:before {
    content: "\f120";
}
.gfl-fth_check:before {
    content: "\f121";
}
.gfl-fth_chevron_down:before {
    content: "\f122";
}
.gfl-fth_chevron_left:before {
    content: "\f123";
}
.gfl-fth_chevron_right_alt:before {
    content: "\f124";
}
.gfl-fth_chevron_right:before {
    content: "\f125";
}
.gfl-fth_circle_full:before {
    content: "\f126";
}
.gfl-fth_circle:before {
    content: "\f127";
}
.gfl-fth_clock:before {
    content: "\f128";
}
.gfl-fth_copy:before {
    content: "\f129";
}
.gfl-fth_download:before {
    content: "\f12a";
}
.gfl-fth_drag:before {
    content: "\f12b";
}
.gfl-fth_edit_alt:before {
    content: "\f12c";
}
.gfl-fth_edit:before {
    content: "\f12d";
}
.gfl-fth_euro:before {
    content: "\f12e";
}
.gfl-fth_ext_link:before {
    content: "\f12f";
}
.gfl-fth_eye:before {
    content: "\f130";
}
.gfl-fth_file_move:before {
    content: "\f131";
}
.gfl-fth_filter:before {
    content: "\f132";
}
.gfl-fth_flag:before {
    content: "\f133";
}
.gfl-fth_folder_full:before {
    content: "\f134";
}
.gfl-fth_folder:before {
    content: "\f135";
}
.gfl-fth_google:before {
    content: "\f136";
}
.gfl-fth_group:before {
    content: "\f137";
}
.gfl-fth_help_circle:before {
    content: "\f138";
}
.gfl-fth_history:before {
    content: "\f139";
}
.gfl-fth_home:before {
    content: "\f13a";
}
.gfl-fth_inbox:before {
    content: "\f13b";
}
.gfl-fth_info:before {
    content: "\f13c";
}
.gfl-fth_kanban:before {
    content: "\f13d";
}
.gfl-fth_link:before {
    content: "\f13e";
}
.gfl-fth_list:before {
    content: "\f13f";
}
.gfl-fth_loader:before {
    content: "\f140";
}
.gfl-fth_lock:before {
    content: "\f141";
}
.gfl-fth_logout:before {
    content: "\f142";
}
.gfl-fth_mail:before {
    content: "\f143";
}
.gfl-fth_maximize:before {
    content: "\f144";
}
.gfl-fth_message_circle:before {
    content: "\f145";
}
.gfl-fth_minimize:before {
    content: "\f146";
}
.gfl-fth_minus:before {
    content: "\f147";
}
.gfl-fth_monitor:before {
    content: "\f148";
}
.gfl-fth_more_horizontal:before {
    content: "\f149";
}
.gfl-fth_more_vertical:before {
    content: "\f14a";
}
.gfl-fth_move_vertical:before {
    content: "\f14b";
}
.gfl-fth_move:before {
    content: "\f14c";
}
.gfl-fth_paperclip:before {
    content: "\f14d";
}
.gfl-fth_phone:before {
    content: "\f14e";
}
.gfl-fth_pie:before {
    content: "\f14f";
}
.gfl-fth_plus:before {
    content: "\f150";
}
.gfl-fth_refresh:before {
    content: "\f151";
}
.gfl-fth_repeat:before {
    content: "\f152";
}
.gfl-fth_rinvia:before {
    content: "\f153";
}
.gfl-fth_search:before {
    content: "\f154";
}
.gfl-fth_send:before {
    content: "\f155";
}
.gfl-fth_settings:before {
    content: "\f156";
}
.gfl-fth_share:before {
    content: "\f157";
}
.gfl-fth_star:before {
    content: "\f158";
}
.gfl-fth_tag:before {
    content: "\f159";
}
.gfl-fth_text:before {
    content: "\f15a";
}
.gfl-fth_times:before {
    content: "\f15b";
}
.gfl-fth_tool:before {
    content: "\f15c";
}
.gfl-fth_trash_delete:before {
    content: "\f15d";
}
.gfl-fth_trash_restore:before {
    content: "\f15e";
}
.gfl-fth_trash:before {
    content: "\f15f";
}
.gfl-fth_udienza:before {
    content: "\f160";
}
.gfl-fth_upload:before {
    content: "\f161";
}
.gfl-fth_user:before {
    content: "\f162";
}
.gfl-fth_users:before {
    content: "\f163";
}
.gfl-gears:before {
    content: "\f164";
}
.gfl-history_back:before {
    content: "\f165";
}
.gfl-history:before {
    content: "\f166";
}
.gfl-info_dashed:before {
    content: "\f167";
}
.gfl-info:before {
    content: "\f168";
}
.gfl-ligthbulb:before {
    content: "\f169";
}
.gfl-logout:before {
    content: "\f16a";
}
.gfl-lookup:before {
    content: "\f16b";
}
.gfl-mail:before {
    content: "\f16c";
}
.gfl-news:before {
    content: "\f16d";
}
.gfl-pct:before {
    content: "\f16e";
}
.gfl-pencil:before {
    content: "\f16f";
}
.gfl-person:before {
    content: "\f170";
}
.gfl-phone_contacts:before {
    content: "\f171";
}
.gfl-phone:before {
    content: "\f172";
}
.gfl-pin:before {
    content: "\f173";
}
.gfl-polisweb:before {
    content: "\f174";
}
.gfl-question_dashed:before {
    content: "\f175";
}
.gfl-ringbell:before {
    content: "\f176";
}
.gfl-rules:before {
    content: "\f177";
}
.gfl-search:before {
    content: "\f178";
}
.gfl-smile:before {
    content: "\f179";
}
.gfl-star:before {
    content: "\f17a";
}
.gfl-starfilled:before {
    content: "\f17b";
}
.gfl-success:before {
    content: "\f17c";
}
.gfl-trashcan:before {
    content: "\f17d";
}
.gfl-user_settings:before {
    content: "\f17e";
}
.gfl-warning:before {
    content: "\f17f";
}
