@font-face {
    font-family: "icons";
    src: url("./icons.eot?2eb5c9cefd09c96f92e5a56fa70643e6#iefix") format("embedded-opentype"),
url("./icons.woff2?2eb5c9cefd09c96f92e5a56fa70643e6") format("woff2"),
url("./icons.woff?2eb5c9cefd09c96f92e5a56fa70643e6") format("woff");
}

i[class^="fth-"]:before, i[class*=" fth-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fth-agenda:before {
    content: "\f101";
}
.fth-alarm:before {
    content: "\f102";
}
.fth-apps:before {
    content: "\f103";
}
.fth-bank:before {
    content: "\f104";
}
.fth-bell:before {
    content: "\f105";
}
.fth-biblio:before {
    content: "\f106";
}
.fth-board:before {
    content: "\f107";
}
.fth-bubble:before {
    content: "\f108";
}
.fth-caret:before {
    content: "\f109";
}
.fth-chat:before {
    content: "\f10a";
}
.fth-check:before {
    content: "\f10b";
}
.fth-circle:before {
    content: "\f10c";
}
.fth-circlequestion:before {
    content: "\f10d";
}
.fth-clock:before {
    content: "\f10e";
}
.fth-coge:before {
    content: "\f10f";
}
.fth-contacs:before {
    content: "\f110";
}
.fth-dashboard:before {
    content: "\f111";
}
.fth-document:before {
    content: "\f112";
}
.fth-dossier:before {
    content: "\f113";
}
.fth-dotcircle:before {
    content: "\f114";
}
.fth-edit:before {
    content: "\f115";
}
.fth-error:before {
    content: "\f116";
}
.fth-euro:before {
    content: "\f117";
}
.fth-extlink:before {
    content: "\f118";
}
.fth-fth_alarm:before {
    content: "\f119";
}
.fth-fth_alert_triangle:before {
    content: "\f11a";
}
.fth-fth_arrow_down_circle:before {
    content: "\f11b";
}
.fth-fth_arrow_left:before {
    content: "\f11c";
}
.fth-fth_arrow_right:before {
    content: "\f11d";
}
.fth-fth_auto_alarm:before {
    content: "\f11e";
}
.fth-fth_bell:before {
    content: "\f11f";
}
.fth-fth_calendar:before {
    content: "\f120";
}
.fth-fth_check:before {
    content: "\f121";
}
.fth-fth_chevron_down:before {
    content: "\f122";
}
.fth-fth_chevron_left:before {
    content: "\f123";
}
.fth-fth_chevron_right_alt:before {
    content: "\f124";
}
.fth-fth_chevron_right:before {
    content: "\f125";
}
.fth-fth_circle_full:before {
    content: "\f126";
}
.fth-fth_circle:before {
    content: "\f127";
}
.fth-fth_clock:before {
    content: "\f128";
}
.fth-fth_copy:before {
    content: "\f129";
}
.fth-fth_download:before {
    content: "\f12a";
}
.fth-fth_drag:before {
    content: "\f12b";
}
.fth-fth_edit_alt:before {
    content: "\f12c";
}
.fth-fth_edit:before {
    content: "\f12d";
}
.fth-fth_euro:before {
    content: "\f12e";
}
.fth-fth_ext_link:before {
    content: "\f12f";
}
.fth-fth_eye:before {
    content: "\f130";
}
.fth-fth_file_move:before {
    content: "\f131";
}
.fth-fth_filter:before {
    content: "\f132";
}
.fth-fth_flag:before {
    content: "\f133";
}
.fth-fth_folder_full:before {
    content: "\f134";
}
.fth-fth_folder:before {
    content: "\f135";
}
.fth-fth_google:before {
    content: "\f136";
}
.fth-fth_group:before {
    content: "\f137";
}
.fth-fth_help_circle:before {
    content: "\f138";
}
.fth-fth_history:before {
    content: "\f139";
}
.fth-fth_home:before {
    content: "\f13a";
}
.fth-fth_inbox:before {
    content: "\f13b";
}
.fth-fth_info:before {
    content: "\f13c";
}
.fth-fth_kanban:before {
    content: "\f13d";
}
.fth-fth_link:before {
    content: "\f13e";
}
.fth-fth_list:before {
    content: "\f13f";
}
.fth-fth_loader:before {
    content: "\f140";
}
.fth-fth_lock:before {
    content: "\f141";
}
.fth-fth_logout:before {
    content: "\f142";
}
.fth-fth_mail:before {
    content: "\f143";
}
.fth-fth_maximize:before {
    content: "\f144";
}
.fth-fth_message_circle:before {
    content: "\f145";
}
.fth-fth_minimize:before {
    content: "\f146";
}
.fth-fth_minus:before {
    content: "\f147";
}
.fth-fth_monitor:before {
    content: "\f148";
}
.fth-fth_more_horizontal:before {
    content: "\f149";
}
.fth-fth_more_vertical:before {
    content: "\f14a";
}
.fth-fth_move_vertical:before {
    content: "\f14b";
}
.fth-fth_move:before {
    content: "\f14c";
}
.fth-fth_paperclip:before {
    content: "\f14d";
}
.fth-fth_phone:before {
    content: "\f14e";
}
.fth-fth_pie:before {
    content: "\f14f";
}
.fth-fth_plus:before {
    content: "\f150";
}
.fth-fth_refresh:before {
    content: "\f151";
}
.fth-fth_repeat:before {
    content: "\f152";
}
.fth-fth_rinvia:before {
    content: "\f153";
}
.fth-fth_search:before {
    content: "\f154";
}
.fth-fth_send:before {
    content: "\f155";
}
.fth-fth_settings:before {
    content: "\f156";
}
.fth-fth_share:before {
    content: "\f157";
}
.fth-fth_star:before {
    content: "\f158";
}
.fth-fth_tag:before {
    content: "\f159";
}
.fth-fth_text:before {
    content: "\f15a";
}
.fth-fth_times:before {
    content: "\f15b";
}
.fth-fth_tool:before {
    content: "\f15c";
}
.fth-fth_trash_delete:before {
    content: "\f15d";
}
.fth-fth_trash_restore:before {
    content: "\f15e";
}
.fth-fth_trash:before {
    content: "\f15f";
}
.fth-fth_udienza:before {
    content: "\f160";
}
.fth-fth_upload:before {
    content: "\f161";
}
.fth-fth_user:before {
    content: "\f162";
}
.fth-fth_users:before {
    content: "\f163";
}
.fth-gears:before {
    content: "\f164";
}
.fth-history_back:before {
    content: "\f165";
}
.fth-history:before {
    content: "\f166";
}
.fth-info_dashed:before {
    content: "\f167";
}
.fth-info:before {
    content: "\f168";
}
.fth-ligthbulb:before {
    content: "\f169";
}
.fth-logout:before {
    content: "\f16a";
}
.fth-lookup:before {
    content: "\f16b";
}
.fth-mail:before {
    content: "\f16c";
}
.fth-news:before {
    content: "\f16d";
}
.fth-pct:before {
    content: "\f16e";
}
.fth-pencil:before {
    content: "\f16f";
}
.fth-person:before {
    content: "\f170";
}
.fth-phone_contacts:before {
    content: "\f171";
}
.fth-phone:before {
    content: "\f172";
}
.fth-pin:before {
    content: "\f173";
}
.fth-polisweb:before {
    content: "\f174";
}
.fth-question_dashed:before {
    content: "\f175";
}
.fth-ringbell:before {
    content: "\f176";
}
.fth-rules:before {
    content: "\f177";
}
.fth-search:before {
    content: "\f178";
}
.fth-smile:before {
    content: "\f179";
}
.fth-star:before {
    content: "\f17a";
}
.fth-starfilled:before {
    content: "\f17b";
}
.fth-success:before {
    content: "\f17c";
}
.fth-trashcan:before {
    content: "\f17d";
}
.fth-user_settings:before {
    content: "\f17e";
}
.fth-warning:before {
    content: "\f17f";
}
