@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,700;1,400;1,700&display=swap");
#senna_surface1 {
  --btn-primary-hover-border-color: hsl(220deg, 71%, 26%);
  --btn-primary-background-color: hsl(220deg, 71%, 26%);
  --btn-primary-border-color: hsl(220deg, 71%, 26%);
}

#senna_surface1 body {
  font-family: "Quattrocento Sans", sans-serif !important;
}

#senna_surface1 a {
  color: #133371;
}

#senna_surface1 a:hover {
  color: #1d50af;
}

#senna_surface1 body,
#senna_surface1 #wrapper,
#senna_surface1 .table-list,
#senna_surface1 select.form-control,
#senna_surface1 .toolpec-webmail-portlet .wm-folders .wm-folders-list li a {
  color: #3c4049;
}

#senna_surface1 .btn-primary:not(.dropdown-item):hover {
  border-color: #133371;
  background-color: #133371;
}

#senna_surface1 .portlet-decorate .portlet-content,
#senna_surface1 .table-list {
  border: 0;
}

#senna_surface1 .form-control,
#senna_surface1 .btn,
#senna_surface1 .wm-message-composer .ts-input,
#senna_surface1 .wm-message-composer .ts-input.focus {
  border-radius: 0;
}

#senna_surface1 .form-control,
#senna_surface1 .btn {
  border-radius: 0;
}

#senna_surface1 .input-group .input-group-inset-item-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#senna_surface1 .form-control:focus,
#senna_surface1 .form-control.focus,
#senna_surface1 .btn:focus,
#senna_surface1 .btn.focus {
  -webkit-box-shadow: 0 0 0 0.1rem #80acff;
          box-shadow: 0 0 0 0.1rem #80acff;
  outline: 0;
}

#senna_surface1 .taglib-empty-result-message .taglib-empty-state,
#senna_surface1 .taglib-empty-result-message .taglib-empty-result-message-header,
#senna_surface1 .taglib-empty-result-message
.taglib-empty-result-message-header-has-plus-btn {
  background: url("https://test-cube.giuffre.it/cliens_theme/static/src/images/clienscube-bw.svg") no-repeat bottom center;
  background-size: contain;
}

#senna_surface1 .taglib-empty-result-message .taglib-empty-state {
  background: url("https://test-cube.giuffre.it/cliens_theme/static/src/images/clienscube-bw.svg") no-repeat bottom center;
}

#senna_surface1 .toolpec-webmail-portlet .wm-folders,
#senna_surface1 .toolpec-webmail-portlet .wm-folders .wm-folders-list li a {
  background-color: #e6eaef;
}

#senna_surface1 .toolpec-webmail-portlet .wm-folders .wm-folders-list li a {
  border-bottom-color: #c1cad7;
}

@media (min-width: 768px) {
  #senna_surface1 .navbar-underline.navbar-expand-md .navbar-nav .nav-link.active:after,
  #senna_surface1 .navbar-underline.navbar-expand-md
.navbar-nav
.nav-underline
.tab
a.active:after,
  #senna_surface1 .nav-underline
.tab
.navbar-underline.navbar-expand-md
.navbar-nav
a.active:after,
  #senna_surface1 .navbar-underline.navbar-expand-md
.navbar-nav
.nav-underline
.tab.active
a:after,
  #senna_surface1 .nav-underline
.tab.active
.navbar-underline.navbar-expand-md
.navbar-nav
a:after {
    background-color: #a83434;
  }
}

#senna_surface1 .wm-tab-close-link {
  color: #ec4b4b;
}
/*# sourceMappingURL=toolpec.css.map */